openapi: 3.0.3
info:
  title: J-Noven Club API
  version: 1.0.1
  description: J-Novel Club API
  license:
    name: J-Novel Club
externalDocs:
  description: Forum
  url: https://forums.j-novel.club/topic/5142/developer-psa-labs-j-novel-club-is-your-new-friend?page=1
servers:
  - url: https://labs.j-novel.club/app/v1
    variables:
      'format':
        default: 'protobuf'
        enum:
          - json
          - protobuf
          - text
        description: ''
tags:
  - name: auth
    description: Login/Logout
    externalDocs:
      description: Get Access
      url: https://labs.j-novel.club/app/v1
  - name: profile
    description: Information about user and feed
    externalDocs:
      description: Profile
      url: https://labs.j-novel.club/app/v1
components:
  schemas:
    ResponseFormat:
      type: string
      enum:
       - json
       - protobuf
       - text
      default: protobuf
    LoginRequest:
      type: object
      required:
      - login
      - password
      properties:
        login:
          type: string
          description: Username
          example: "jnovelclubuser@example.com"
        password:
          type: string
          description: Password
          example: "swordfish"
        slim:
          type: boolean
          description: Set this to true if only needing a login token
    LoginResponse:
      type: object
      properties:
        id:
          type: string
          description: A Bearer Token
          example: "lab_12ABCDEFGHIJL3MN4OPQ5RS6TIVWXUZABCDEF7GHIJKLM8NOPQRS"
        created:
          type: string
          format: date-time
          description: Timestamp for the login request
        ttl:
          type: string
          description: The lenght of time the Bearer token is value in specified units, such as "s" for seconds
          example: "123456s"
    ProfileResponse:
      type: object
      properties:
        legacyId:
          type: string
          example: "0a1234567890b123456c7def"
        analyticsId:
          type: string
          example: "ab1234b56789c12de3456789"
        customerId:
          type: string
          example: "cus_ABcDEfGhi0J1KL"
        email:
          type: string
          format: email
          example: "jnovelclubuser@example.com"
        username:
          type: string
          example: "jnovelclubuser"
        forumId:
          type: integer
          minimum: 0
          example: 99999
        emailVerified:
          type: boolean
        country:
          type: string
          example: "us"
          description: "Two letter country code"
        earnedCredits:
          type: integer
          minimum: 0
          example: 99
          description: "Likely no longer used"
        usedCredits:
          type: integer
          minimum: 0
          example: 99
          description: "Likely no longer used"
        coins:
          type: integer
          minimum: 0
          example: 9999
          description: "Coins used for things such as buying digital copies"
        created:
          type: string
          format: date-time

      
paths:
  /auth/login:
    summary: Login
    description: Get an auth token
    post:
      summary: ''
      description: 'Get an authentication token'
      operationId: 'login'
      parameters:
        - name: 'format'
          in: 'query'
          schema:
            $ref: '#/components/schemas/ResponseFormat'
      requestBody:
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/LoginRequest'
              
            
      responses:
        200:
          description: Login was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
      tags:
        - auth
  /me:
    summary: Profile
    description: Show information about the user
    get:
      parameters:
        - name: 'format'
          in: query
          schema:
            $ref: '#/components/schemas/ResponseFormat'

      responses:
        200:
          description: User Profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
      tags:
      - profile